# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @malagurti

# Order is important; the last matching pattern takes precedence
# over more specific patterns.
*.js @malagurti
*.ts @malagurti
*.json @malagurti
*.md @malagurti
